#ignore pdfs
*.pdf
#ignore doxc
*.docx
#ignore pngs
*.png
#ignore unwaned/old files
*.ipynb

#ingore files & folders
launch_training*
test2*
training*

#ignore final_dataset produced by random sampling (8000 lines)
final_dataset_ECoG.xlsx